a:hover {
    cursor: pointer !important;
}
.loading
{
    text-align: center;
    color: #ed3237;
}
.shop-content {
    display: table;
    width: 100%;
    min-height: 80vh;
}

.row-no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


#empty-data-message {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-size: 30px;
    font-weight: 700;
    color: #ec3237;
    text-transform: capitalize;
}

.box:hover .theme-btn,
.theme-btn {
    font-weight: 600
}

span.in-currency {
    color: #0c9e5b;
}

span.bd-currency {
    color: #0c9e5b;
}

.jconfirm-box-container {
    text-align: center !important
}

.jconfirm-box {
    background-color: #ed3237 !important;
    color: #fff
}

.donate-status,
.price-bd,
.shop-content .grid .box:hover .details,
.shop-content .grid .price {
    background-color: #49ba86
}

.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons {
    float: none !important
}

.la-required {
    color: #ed3237
}

.blog-grid a:focus,
.blog-grid a:hover {
    color: #fff
}

.donate-status,
.price-bd {
    margin-top: -63px;
    overflow: hidden;
    color: #fff;
    padding: 2px 9px;
    box-shadow: 0 0 15px 1px #ccc;
    -webkit-box-shadow: 0 0 15px 1px #ccc;
    transition: all .3s ease
}

.price-bd {
    float: right;
    margin-right: -22px
}

.donate-status {
    float: left;
    margin-left: -22px
}

.box:hover .donate-status,
.box:hover .price-bd,
.box:hover .theme-btn {
    background-color: #fff;
    color: #ed3237;
}


.read-more-button {
    font-size: 13px;
    padding: 5px 0;
    font-weight: 600;
    text-transform: uppercase;
    color: #15181d;
}

.read-more-button:hover {
    color: #fff;
}

.shop-content .grid .box:hover #text-with-link a {
    color: #000
}

.shop-content .grid .box:hover #text-with-link a span {
    color: #fff !important
}

.shop-content .grid .box:hover .details .price {
    color: #ed3237
}

.theme-btn:active,
.theme-btn:focus,
.theme-btn:hover {
    background-color: #49ba86;
    color: #fff
}

.hero .hero-slider .owl-nav .owl-next,
.hero .hero-slider .owl-nav .owl-next:hover,
.hero .hero-slider .owl-nav .owl-prev,
.hero .hero-slider .owl-nav .owl-prev:hover,
.urgent-donation-s2 {
    background-color: #ed3237
}

.contact-page .contact-main-content .contact-form {
    position: unset
}

.contact-page .contact-main-content .map-concate-form {
    margin-bottom: 100px
}

@media screen and (min-width: 992px) {
    header #navbar > ul > li > a {
        padding: 24px 20px
    }
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        padding: 0
    }
}

.hero .slide .slider-title > span {
    color: #ed3237
}

.hero-style-three .slider-title .theme-btn:hover,
.hero-style-two .slider-title .theme-btn:hover {
    background-color: #ed3237;
    border-color: #ed3237;
    color: #fff
}

.event-grid-wrapper .event-box .event-details .location i,
.event-grid-wrapper .event-box .event-details h3 a:hover,
.section-title-s2 h2 span,
.theme-btn-s2,
.urgent-donation-s2 .donation-details-wrapper h2 + span {
    color: #ed3237
}

.hero-style-three .slider-title .theme-btn,
.hero-style-two .slider-title .theme-btn {
    border: 2px solid #ed3237
}

.donation-form .theme-btn-s2 {
    background-color: #fff
}

.cta-2 .sing-up .theme-btn:hover,
.home-style-three .events-nearby .owl-dots .active span,
.home-style-three .events-nearby .owl-dots span:hover,
.home-style-two .events-nearby .owl-dots .active span,
.home-style-two .events-nearby .owl-dots span:hover,
.theme-btn {
    background-color: #ed3237
}

.theme-btn-s2:hover {
    color: #ed3237;
    border-color: #ed3237
}

.blog-grid .theme-btn:hover,
.event-grid-wrapper .event-box .event-details .btn,
.event-grid-wrapper .event-box .event-details .btn:hover {
    color: #fff
}

.blog-grid .entry-title h3 a:hover,
.cta-4 .icon i,
.cta-4 .read-more,
.page-title .title-box h1,
footer .lower-footer p a,
footer .lower-footer p span,
footer .upper-footer .about-widget .copyright a {
    color: #ed3237
}

#latest-project .events-nearby-slider .owl-controls {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 30%
}

#latest-project .events-nearby-slider .owl-controls .owl-nav > div:first-child {
    left: 0
}

#latest-project .events-nearby-slider .owl-controls .owl-nav > div:last-child {
    right: 0
}

#latest-project .events-nearby-slider .owl-controls .owl-nav > div {
    color: white;
    background: #ed3237;
    width: 40px;
    height: 50px;
    line-height: 44px;
    font-size: 22px;
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute
}

.cta-2 .sing-up .theme-btn {
    color: #ed3237;
    border: 2px solid #ed3237
}

.breadcrumb > .active {
    color: #ed3237 !important
}

#text-with-link a {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    margin: 0 0 1.2em;
    color: #828791;
    line-height: 1.8em
}

.section-title-s2 {
    /*margin-bottom: 10px*/
}

.home-style-three .events-nearby,
.home-style-two .events-nearby {
    padding: 80px 0
}

.about-us-st #accordion-right .panel-default {
    border: 0;
    border-radius: 0;
    margin: 0 0 10px;
    -webkit-box-shadow: 0 0 10px 0 #ccc;
    -moz-box-shadow: 0 0 10px 0 #ccc;
    -o-box-shadow: 0 0 10px 0 #ccc;
    -ms-box-shadow: 0 0 10px 0 #ccc;
    box-shadow: 0 0 10px 0 #ccc
}

.about.read-more-button {
    color: #ed3237;
}

.about-us-st #accordion-right .panel-heading {
    background-color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s
}

.about-us-st #accordion-right .current .panel-heading,
.about-us-st #accordion-right .panel-heading:hover {
    background-color: #ed3237
}

.about-us-st #accordion-right .current .panel-heading a {
    color: #fff
}

.about-us-st #accordion-right .panel-heading a {
    display: block;
    color: #828791;
    font-weight: 700;
    position: relative
}

.about-us-st #accordion-right .current .panel-heading i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.about-us-st #accordion-right .panel-heading a i {
    position: absolute;
    right: 0;
    top: 4px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s
}

.about-us-st #accordion-right .panel-heading:hover a {
    color: #fff
}

.about-event-wrapper {
    padding: 85px 0
}

.about-event-wrapper .about-event {
    padding: 34px 3px;
    text-align: justify
}

.about-event-wrapper .about-event .theme-btn {
    float: right;
    margin-top: -1px
}

.about-us-st .company h3 span {
    color: #ed3237
}

.about-us-st .right-col a {
    background-color: #ea2c31
}

.about-us-st #accordion .current .panel-heading,
.about-us-st #accordion .panel-heading:hover {
    background-color: #ed3237
}

.sponsor .left-col {
    background: url(../images/event-single/sponsor-bg.png) center center/cover no-repeat local #fb2f35
}

.sponsor .sponsor-slider .owl-nav .owl-next,
.sponsor .sponsor-slider .owl-nav .owl-prev {
    color: #ed3237;
    border: 1px solid #ed3237
}

.sponsor .sponsor-slider .owl-nav .owl-next:hover,
.sponsor .sponsor-slider .owl-nav .owl-prev:hover {
    background-color: #ed3237
}

.col-centered {
    margin: 0 auto
}

.amount-options-bd,
.amount-options-in {
    padding: 20px 10px
}

.scholarship-modal .modal-body {
    padding: 0
}

.scholarship-modal .modal-header {
    padding: 0;
    border: none
}

#modal-header-wrapper .first-heading,
#modal-header-wrapper .second-heading {
    color: #fff
}

.payment-method-img img {
    width: 50px;
    height: 50px
}

#modal-header-wrapper img {
    border-radius: 50%;
    box-shadow: 0 1px 2px 4px rgba(245, 240, 240, .26)
}

.event-single-main-content .video,
.volunteer-single-section .video {
    box-shadow: 0 0 15px 0 #bfbfbf
}

.modal-padding-md {
    padding: 20px 0
}

.donate-modal .modal-content {
    background-color: #49ba86;
    border: none
}

.sponsor-child-status .details {
    padding: 10px 0
}

.sponsor-child-status h3 {
    font-size: 24px;
    margin-top: 2px
}

.donate-modal .sponsor-child-status .first-heading,
.donate-modal .sponsor-child-status .second-heading {
    padding: 0;
    font-size: 20px;
    color: #fff;
    font-family: Montserrat, sans-serif
}

.sponsor-child-status p {
    margin: 0;
    font-size: 36px
}

.donate-client #account-tab {
    padding: 0 10px
}

.donate-modal .scholarship-amount {
    padding-bottom: 40px;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 15px 0 #bfbfbf
}

.donate-modal .price-bdt,
.donate-modal .price-in {
    font-size: 18px;
    padding: 2px 10px;
    color: #ed3237
}

.donate-modal .price-bdt {
    position: absolute;
    top: 0;
    left: 0
}

.donate-modal .price-in {
    position: absolute;
    top: 0;
    right: 0
}

.custom_amount,
.tab-content input[type=button] {
    height: 2.5em;
    margin: 6px 0
}

.donate-modal .nav-tabs.nav-justified > li > a {
    color: #fff;
    transition: all .2s ease-in
}

.donate-modal .nav-tabs.nav-justified > li > a:hover {
    color: #49ba86;
    background: #fff
}

.donate-modal .nav a i,
.nav a span {
    color: red
}

.checkbox-inline,
.radio-inline {
    line-height: 47px
}

.amount {
    padding: 20px;
    background-color: #fff
}

.amount input[type=button],
.custom_amount {
    height: 2.5em;
    margin: 6px 0;
    width: 80%
}

.donate-modal .nav-tabs.nav-justified > .active > a,
.donate-modal .nav-tabs.nav-justified > .active > a:focus,
.donate-modal .nav-tabs.nav-justified > .active > a:hover {
    border-bottom-color: #fff;
    color: #49ba86
}

input[type=number].custom_amount::-webkit-input-placeholder {
    color: #49ba866e;
}

input[type=radio] {
    height: 2em;
    width: 17px;
    margin-top: 10px
}

.amount .payment-button {
    padding: 20px 0 10px
}

.volunteer-single-section .volunteer-content {
    padding: 0 0 125px
}

.sponsor-image img {
    position: relative
}

.sponsor-image a {
    background-color: #ed3237;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 35px;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 30%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

#donor-scholarship-list .video img {
    width: 530px !important;
    height: 280px !important;
}

.student-biography img {
    width: 200px;
    margin: 0 21px 0 0;
    border-radius: 5px
}

.student-biography .student-biography-inner p {
    text-align: justify
}

#volunteer-customize-padding {
    padding-top: 120px
}

.volunteer-single-section .event-grid-wrapper .event-box .event-details {
    background-color: #fff
}

.volunteer-single-section .event-grid-wrapper .event-box .event-details .date,
.volunteer-single-section.about-us-st .right-col a {
    background-color: #ed3237
}

.volunteer-single-section .event-grid-wrapper .event-box .event-details .btn {
    color: #fff
}

.volunteer-single-section .event-grid-wrapper .event-box .event-details .location {
    color: #49ba86
}

.volunteer-single-section .event-grid-wrapper .event-box .event-details .location i {
    color: #ed3237
}

.volunteer-single-section .volunteer-content .box-title h3 i {
    color: #49ba86
}

.about-us-st .right-col {
    margin-top: 0
}

#press-section .video a,
.event-single-main-content .right-col a {
    background-color: #f13035;
    font-size: 35px;
    text-align: center;
    color: #fff;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 2px #f5f5f580;
    -moz-box-shadow: 0 0 0 2px #f5f5f580;
    -webkit-box-shadow: 0 0 0 2px #f5f5f580
}

.event-single-main-content .right-col a {
    left: 50%;
    top: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px
}

#press-section .video a {
    top: 40%;
    left: 50%;
    width: 65px;
    height: 65px;
    line-height: 65px
}

header .navigation {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .3);
    background: #fff
}

header #navbar > ul > li > a {
    color: #27262c;
    font-weight: 600
}

header #navbar > ul > li.current > a,
header #navbar > ul > li > a:hover,
header #navbar > ul > li > ul > li.current a {
    color: #ed3237
}

header #navbar li.sub-menu ul li a {
    color: #fff !important
}

header #navbar li.sub-menu > ul {
    background: #ed3237
}

.shop-content .grid .img-holder {
    position: relative
}

.shop-content .grid .img-holder .image-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .5s
}

.shop-content .grid .img-holder .image-overlay .display-details-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 8%;
    text-align: justify;
    padding: 0 20px;
    line-height: 23px
}

.shop-content .grid .img-holder .image-overlay .display-details-text a {
    color: #fffc8;
    font-size: 14px;
    text-transform: capitalize;
    font-family: "Noto+Sans", sans-serif;
    letter-spacing: 1px;
    padding: 10px
}

.shop-content .grid .img-holder .image-overlay .display-details-text a i {
    color: #ed3237;
    font-size: 20px
}

.shop-content .grid:hover .image-overlay {
    opacity: 1;
    visibility: visible
}

.blog-main-content .post .entry-media {
    position: relative
}

.blog-main-content .post .entry-media .image-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .5s
}

.blog-main-content .post .entry-media .image-overlay .display-details-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 8%;
    text-align: justify;
    padding: 0 20px;
    line-height: 23px
}

.blog-main-content .post .entry-media .image-overlay .display-details-text a {
    color: #fffc8;
    font-size: 14px;
    text-transform: capitalize;
    font-family: "Noto+Sans", sans-serif;
    letter-spacing: 1px;
    padding: 10px
}

#register-modal .modal-body,
.signup-content {
    padding: 0
}

.blog-main-content .post:hover .image-overlay {
    opacity: 1;
    visibility: visible
}

.signup-image-link {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 17px;
    color: #00c292
}

.signin-form .label-agree-term {
    color: #00c292
}

.signin-form .label-agree-term span {
    width: 18px;
    height: 16px;
    margin-right: 5px;
    border: 2px solid #00c292
}

.signin-form .label-agree-term span:before {
    color: #00c292 !important;
    font-size: 27px !important;
    line-height: .2 !important
}

.form-title {
    color: #00c292;
    text-transform: capitalize
}

.signin-form input,
.signup-form input {
    border-bottom: 1px solid #00c292
}

.zmdi-account:before,
.zmdi-email:before,
.zmdi-lock-outline:before,
.zmdi-lock:before {
    color: #00c292;
    font-size: 23px
}

.signup-image-link:hover {
    color: #ed3237;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #f5f5f5, 0 4px 0 #eee, 0 5px 0 #eee, 0 6px 1px #f5f5f5, 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px #eee, 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px #f5f5f5, 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px #f5f5f5
}

/*.signin-image {
    margin-top: -80px
}*/

.signin-form {
    margin: 0;
}
.signin-content {
    padding-top: 0;
}


/*Social login button added start*/
/*Google button*/
#login_button i {
    margin-right: 2px;
}
.signin-options {
    text-align: center;
    padding: 0;
    margin: 13px;
    font-size: 18px;
    color: #777;
    text-transform: uppercase;
}
.google-button {
    height: 45px;
    border-width: 0;
    background: #e6e6e6;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    padding: 0;
}
.google-button:focus, .google-button:hover {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}
.google-button:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
}
.google-button__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0 8px 8px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
}
.google-button__icon--plus {
    width: 27px;
}
.google-button__text {
    color: #737373;
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px 0 9px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', arial, sans-serif;
}
/*google button*/




/*Social login button added end*/


#register-tab {
    background-color: #e7e7f6;
    border-radius: 5px
}

#register-modal .nav-tabs.nav-justified {
    height: 62px
}

#register-modal .nav-tabs.nav-justified > .active > a,
#register-modal .nav-tabs.nav-justified > .active > a:focus,
#register-modal .nav-tabs.nav-justified > .active > a:hover {
    background-color: transparent;
    color: #49ba86
}

#register-modal .nav-tabs.nav-justified > li > a {
    display: block;
    padding: 20px 0;
    margin: 0;
    text-decoration: none;
    font-size: 1.2em;
    background-color: #338b99;
    color: #fff;
    border: none;
    text-transform: uppercase
}

#register-modal .nav-tabs.nav-justified > li > a i {
    padding-right: 3px;
    font-size: 21px
}

#register-modal #sign-in,
#register-modal #sign-up {
    padding: 50px 46px 13px;
    line-height: 25px
}

#register-modal input[type=submit] {
    background-color: #49ba86;
    color: #fff;
    height: 50px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    padding: 0;
    cursor: pointer;
    outline: 0;
    border-radius: 5px;
    font-size: 1em;
    border: none
}

#register-modal label {
    font-size: 1.1em;
    color: #49ba86;
    margin-left: 23px
}

#register-modal input {
    border-radius: 5px;
    width: 90%;
    height: 40px;
    margin: 5px 5% 30px;
    padding: 10px;
    font-size: 1em;
    color: #49ba86;
    outline: 0;
    border: none
}

.modal-header .close {
    float: right !important;
    margin-right: -15px !important;
    margin-top: -11px !important;
    background-color: #fff !important;
    border-radius: 15px !important;
    width: 30px !important;
    height: 30px !important;
    opacity: 1 !important
}

.amount input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #49ba866e;
    color: #666;
    top: 7px;
    height: 25px;
    width: 25px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 7px;
    outline: 0
}

.amount input[type=radio]:checked::before {
    position: absolute;
    font: 13px/1 'Open Sans', sans-serif;
    left: 9px;
    top: 5px;
    content: '\02143';
    transform: rotate(40deg);
    color: #ffffe0
}

#donate li > a::after,
.serviceBox:before {
    content: ""
}

.amount input[type=radio]:hover {
    background-color: #49ba86
}

.amount input[type=radio]:checked {
    background-color: #ed3237
}

.amount label {
    font: 300 16px/1.7 'Open Sans', sans-serif;
    cursor: pointer
}

.page-title .title-box .theme-btn {
    font-size: 16px;
    padding: 15px 34px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    border: 2px solid #ed3237;
    background-color: transparent;
@rounded-border (0) :;
}

.page-title .title-box .theme-btn:hover {
    background-color: #ed3237;
    border-color: #ed3237;
    color: #fff
}

.page-title .title-box ol {
    margin-bottom: 15px
}

.about-event-wrapper .about-event {
    border: none
}

#dashboard_padding {
    background: #F6F8FA;
    padding: 95px 0
}

.breadcomb-list {
    padding: 10px 20px;
    background: #fff
}

.breadcomb-wp {
    display: flex
}

.breadcomb-ctn {
    margin-left: 20px
}

.breadcomb-ctn h2 {
    font-size: 20px;
    color: #333;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    line-height: 28px
}

.breadcomb-ctn p {
    font-size: 14px;
    color: #333;
    margin: 0
}

.breadcomb-icon i {
    font-size: 20px;
    color: #00c292;
    padding: 15px;
    position: relative;
    border-radius: 50%;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    display: block
}

.mg-tb-40 {
    margin: 30px 0
}

.nav-tabs.notika-menu-wrap {
    border-bottom: 0 solid #ddd
}

.nav-tabs.notika-menu-wrap > li.active > a,
.nav-tabs.notika-menu-wrap > li.active > a:focus,
.nav-tabs.notika-menu-wrap > li.active > a:hover {
    border: 0 solid #ddd;
    border: none
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent
}

ul.notika-menu-wrap li a {
    font-size: 15px;
    color: #333;
    padding: 15px 25px;
    border: none
}

.menu-it-icon-pro i {
    font-size: 18px;
    margin-right: 3px;
    position: relative;
    top: 2px;
    color: #00c292
}

.nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #00c2921f
}

.main-menu-area .tab-content {
    background-color: #fff;
    padding: 20px 0
}

.ic-cmp-int {
    position: relative;
    display: table;
    border-collapse: separate
}

.form-ic-cmp {
    display: table-cell;
    width: 1%;
    padding: 0 12px;
    background-color: transparent;
    border: 0 solid transparent;
    border-radius: 0
}

.form-ic-cmp i {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #00c292;
    text-align: center;
    position: relative;
    top: 7px;
    left: 0
}

.nk-int-st [type=number],
.nk-int-st [type=password],
.nk-int-st input[type=text],
.nk-int-st textarea {
    box-shadow: none;
    border-top: 0 solid #ccc;
    border-left: 0 solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 0;
    resize: none;
    border-radius: 0
}

.chosen-select-act select {
    border-top: 0 solid #ccc;
    border-left: 0 solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    background: #fff;
    font-size: 14px;
    color: #b1b1b1;
    border-radius: 0;
    display: block;
    width: 100%;
    height: 34px;
    line-height: 1.42857143
}

.chosen-select-act select:focus {
    background-color: #FFF
}

#donation .form-wrapper {
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 5px
}

#donation .form-wrapper .form-heading h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 48px;
    font-family: sans-serif
}

.chat_window {
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .15);
    background-color: #f8f8f8;
    overflow: hidden
}

.top_menu {
    background-color: #9de5d3;
    width: 100%;
    padding: 10px 2px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, .1)
}

.top_menu .buttons {
    margin: 3px 0 0 20px;
    position: absolute
}

.top_menu .buttons .button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative
}

.top_menu .buttons .button.close {
    background-color: #f5886e
}

.top_menu .buttons .button.minimize {
    background-color: #fdbf68
}

.top_menu .buttons .button.maximize {
    background-color: #a3d063
}

.top_menu .title {
    text-align: center;
    color: #fff;
    font-size: 20px
}

.messages .message.left .text,
.messages .message.right .text {
    color: #000
}

.messages {
    position: relative;
    list-style: none;
    padding: 20px 10px 0;
    margin: 0;
    height: 347px;
    overflow: scroll
}

.messages .message {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all .5s linear;
    opacity: 0
}

#video-gallery .demo-gallery > ul > li a:hover .demo-gallery-poster > img,
.messages .message.appeared {
    opacity: 1
}

.messages .message.left .avatar {
    background-color: #00c2925e;
    float: left
}

.messages .message.left .text_wrapper {
    background-color: #fff;
    margin-left: 5px
}

.messages .message.left .text_wrapper::after,
.messages .message.left .text_wrapper::before {
    right: 100%;
    border-right-color: #ffe6cb
}

.messages .message.right .avatar {
    background-color: #ed323763;
    float: right
}

.messages .message.right .text_wrapper {
    background-color: #9de5d3;
    margin-right: 5px;
    float: right
}

.messages .message.right .text_wrapper::after,
.messages .message.right .text_wrapper::before {
    left: 100%;
    border-left-color: #c7eafc
}

.messages .message .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block
}

.messages .message .text_wrapper {
    display: inline-block;
    padding: 10px;
    border-radius: 6px;
    width: calc(100% - 85px);
    min-width: 100px;
    position: relative
}

.messages .message .text_wrapper::after {
    border-width: 13px;
    margin-top: 0
}

.messages .message .text_wrapper::before {
    border-width: 15px;
    margin-top: -2px
}

.messages .message .text_wrapper .text {
    font-size: 15px;
    font-weight: 300
}

.bottom_wrapper {
    width: 100%;
    background-color: #fff;
    padding: 4px 30px;
    bottom: 0;
    overflow: hidden
}

.bottom_wrapper .message_input_wrapper {
    display: inline-block;
    height: 43px;
    border-radius: 25px;
    border: 1px solid #bcbdc0;
    width: calc(100% - 160px);
    position: relative;
    padding: 0 20px
}

.bottom_wrapper .message_input_wrapper .message_input {
    border: none;
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 40px);
    position: absolute;
    outline-width: 0;
    color: gray
}

.bottom_wrapper .send_message {
    width: 140px;
    height: 43px;
    display: inline-block;
    border-radius: 50px;
    background-color: #a3d063;
    border: 2px solid #a3d063;
    color: #fff;
    cursor: pointer;
    transition: all .2s linear;
    text-align: center;
    float: right
}

.bottom_wrapper .send_message:hover {
    color: #a3d063;
    background-color: #fff
}

.bottom_wrapper .send_message .text {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    line-height: 39px
}

.message_template {
    display: none
}

.scholarship-wrapper .media {
    background-color: #fff;
    padding: 12px 22px
}

.scholarship-wrapper .media .media-body .left-side {
    float: left
}

.scholarship-wrapper .media .media-body .right-side {
    float: right;
    margin-top: 20px
}

.scholarship-wrapper .media .media-body .theme-btn {
    padding: 12px
}

.scholarship-wrapper .media .media-body h4 {
    color: #00c292
}

.scholarship-details .causes-list-box .details {
    padding: 0
}

.scholarship-details .causes-list-box .details p {
    text-align: justify
}

#donation-form h4,
#video-gallery .btn,
#video-gallery .cont,
#video-gallery .page-head,
.col-centered,
.row-centered,
.serviceBox {
    text-align: center
}

.content-box-md {
    padding: 0 45px
}

#user-profile {
    padding: 20px 0
}

#post-wrapper,
.post-sidebar,
.profile-menu-wrapper {
    background-color: #fff
}

.profile-menu li {
    border-bottom: 1px solid #00c2927d
}

.profile-menu li a {
    display: inline-block;
    padding: 8px 0;
    text-transform: capitalize;
    font-size: 16px;
    color: #00c292;
    line-height: 8px;
    letter-spacing: 1px;
    width: 100%;
    transition: all .3s linear
}

.profile-menu li a:hover,
.profile-menu li.selected a {
    background-color: #00c292cc;
    color: #fff;
    padding-left: 10px
}

.profile-menu li a i {
    font-size: 18px;
    line-height: 25px;
    padding-right: 5px
}

#post-wrapper .post-content {
    padding: 10px 0
}

#post-wrapper .post-action {
    float: right;
    margin-top: -18px
}

#post-wrapper .post-content-inner-left {
    float: left;
    width: 45%
}

#post-wrapper .post-content-inner-right {
    float: right;
    width: 55%;
    padding: 0 10px
}

.post-content-inner .post-field-title {
    font-weight: 600;
    letter-spacing: 1px
}

.post-content-inner i {
    color: #00c292
}

#post-wrapper .panel-default > .panel-heading {
    color: #333;
    background-color: #00c292a8;
    border-color: #00c292
}

#post-wrapper .panel-default > .panel-heading i {
    color: #fff;
    font-size: 23px;
    line-height: 17px;
    padding: 2px
}

#post-wrapper .alert-success {
    color: #000;
    background-color: #f6f8fa
}

#post-wrapper .panel-default .panel-title {
    color: #fff
}

.post-sidebar li a {
    line-height: 20px;
    font-size: 14px;
    letter-spacing: normal
}

.pb-cmnt-container {
    font-family: Lato;
    margin-top: 10px
}

.pb-cmnt-textarea {
    resize: none;
    padding: 0;
    width: 100%;
    border: 2px solid #c7c7c7;
    margin-bottom: -1px
}

.pb-cmnt-textarea::-webkit-input-placeholder {
    color: #00c292a8
}

.pb-cmnt-textarea:-moz-placeholder {
    color: #00c292a8
}

.pb-cmnt-textarea::-moz-placeholder {
    color: #00c292a8
}

.pb-cmnt-textarea:-ms-input-placeholder {
    color: #00c292a8
}

.scholarship-details {
    padding-bottom: 40px
}

.scholarship-details .breadcomb-wp h2 {
    margin-left: 10px
}

.causes-list-box > .title h3,
.scholarship-details .causes-list-box .details h3 {
    margin-bottom: 5px;
    color: #fff
}

.scholarship-details .causes-list-box .details h4 {
    color: #fff
}

.scholarship-details .causes-list-box .details .progress-bar {
    color: #f13035
}

.scholarship-details .breadcomb-ctn {
    margin-left: 0
}

.causes-list-box > .title .progress .progress-bar,
.scholarship-details .causes-list-box .details .progress .progress-bar {
    background-color: #fff
}

.causes-list-box > .title h4 span,
.scholarship-details .causes-list-box .details h4 span {
    color: #000
}

.additional-info li {
    padding: 7px 9px;
    font-size: 13px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.additional-info li i {
    font-size: 20px;
    color: #21c292;
    line-height: 10px
}

.additional-info li span {
    font-size: 16px;
    text-transform: capitalize;
    color: #6a6d6fa3;
    font-family: Lato
}

.scholarship-details .causes-list-box-wrapper {
    margin-bottom: 15px
}

.wb-traffic-inner {
    padding: 20px;
    background: #fff;
    display: flex;
    margin-bottom: 10px;
    position: relative
}

.website-traffic-ctn h2 {
    font-size: 20px;
    color: #333
}

.website-traffic-ctn p {
    font-size: 14px;
    color: #333;
    margin: 0
}

.sparkline-bar-stats1,
.sparkline-bar-stats2,
.sparkline-bar-stats3 {
    margin-left: auto;
    margin-top: 35px
}

.wb-traffic-inner .donation-icon {
    position: absolute;
    right: 10%;
    top: 30%
}

.amount-in-tk,
.wb-traffic-inner i:before {
    font-size: 50px;
    color: #00c292
}

.breadcomb-report {
    float: right;
    line-height: 54px;
    margin-right: 8px
}

.breadcomb-report a {
    color: #00c292;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .3s linear
}

.breadcomb-report a:hover {
    color: #f13035
}

.breadcomb-report a i {
    font-size: 20px
}

.scroll-chat-box-wrapper {
    padding: 10px;
    border: 2px solid;
    margin-bottom: 4px
}

.scroll-chat-box-wrapper .media-body {
    display: grid;
    width: inherit
}

.scroll-chat-box {
    padding: 1px 10px;
    height: 150px;
    overflow: auto
}

.scroll-chat-box .media-body h4 {
    font-size: 12px;
    color: #000
}

.scroll-chat-box .media-body pre {
    padding: 4.5px
}

.post-filter-wrapper {
    padding: 40px 10px
}

.post-filter .filter-heading {
    text-align: center;
    font-size: 14px;
    font-family: Montserrat, lato, sans-serif;
    text-transform: uppercase;
    color: #57d7b7;
    border-bottom: 1px solid #57d7b7;
    padding: 10px 0
}

.post-filter label {
    font-size: 11px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: #57d7b7;
    width: 80px
}

.post-filter .form-group {
    margin-bottom: 5px
}

.post-filter .form-control {
    display: inline-block;
    width: 60%;
    height: 27px;
    padding: 0 12px;
    font-size: 12px
}

.g-recaptcha > div[style] {
    width: inherit !important
}

.contact-page .contact-main-content {
    padding-bottom: 0 !important
}

#donation-page .contact-main-content .contact-form {
    top: 0
}

#donation-page .section-padding {
    padding-bottom: 250px
}

#donation-page .form select {
    background-color: #e6e6e6;
    height: auto;
    border: 0 !important;
    padding: 15px 25px;
    box-shadow: none
}

#donation-page .contact-main-content .contact-form .form > div {
    margin-bottom: 15px
}

#donation-page .contact-main-content .contact-form .form {
    margin-top: 40px
}

#video-section .event-grid-wrapper .event-box {
    border-radius: 10px;
    transition: all .5s ease
}

#video-section .event-grid-wrapper .event-box .event-details .date {
    background-color: #f13035
}

#video-section .event-grid-wrapper .event-box .event-details {
    padding: 7px 0 20px
}

#video-section .event-grid-wrapper .event-box .img-holder {
    position: relative
}

#video-section .event-grid-wrapper .event-box .img-holder .video-count {
    position: absolute;
    background-color: rgba(0,0,0, .7);
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}

.video-count .video-count-text {
    width: 100%;
    height: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.video-count .video-count-text i {
    color: #fff;
    font-size: 20px;
    padding: .2em;
    border: 2px solid #fff;
    border-radius: 50px;
}


.video-count .video-count-text>p {
    font-size: 25px;
    color: #f5f5f5;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

#video-section .event-grid-wrapper .event-box:hover i {
    color: #f13035;
    border: 2px solid #f13035
}


/*#video-section .event-grid-wrapper .event-box .img-holder i {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 36px;
    transform: translate(-50%, -50%);
    display: inline-block;
    border-radius: 50px;
    box-shadow: 0 2px 2px #fff;
    padding: .2em;
    border: 2px solid #fff;
    transition: all .5s ease
}*/

/*#video-section .event-grid-wrapper .event-box:hover .img-holder i {
    color: #f13035;
    border: 2px solid #f13035
}*/

#video-section .event-grid-wrapper .event-box:hover .event-details {
    background-color: #57d7b7;
    color: #fff
}

#video-section .event-grid-wrapper .event-box:hover .event-details a {
    color: #fff
}

#video-gallery .small {
    font-size: 11px;
    color: #999;
    display: block;
    margin-top: -10px
}

#video-gallery .page-head {
    padding: 60px 0
}

#video-gallery .page-head .lead {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 50px;
    margin-top: 0
}

#video-gallery .btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none
}

#video-gallery .btn-lg {
    border-radius: 2px;
    font-size: 18px;
    line-height: 1.33333;
    padding: 10px 16px
}

#video-gallery .btn-primary:hover {
    background-color: #fff;
    color: #152836
}

.btn-primary {
    background-color: #152836;
    border-color: #0e1a24;
    color: #fff
}

#video-gallery .btn-primary {
    border-color: #eee;
    color: #eee;
    transition: color .1s ease 0s, background-color .15s ease 0s
}

#video-gallery .page-head h1 {
    font-size: 42px;
    margin: 0 0 20px;
    color: #FFF;
    position: relative;
    display: inline-block
}

#video-gallery .page-head h1 .version {
    bottom: 0;
    color: #ddd;
    font-size: 11px;
    font-style: italic;
    position: absolute;
    width: 58px;
    right: -58px
}

#video-gallery .demo-gallery > ul {
    margin-bottom: 0;
    padding-left: 15px
}

#video-gallery .demo-gallery > ul > li {
    margin-bottom: 15px;
    display: inline-block;
    margin-right: 15px;
    list-style: none
}

#video-gallery .demo-gallery > ul > li a {
    border: 3px solid #FFF;
    border-radius: 3px;
    display: block;
    overflow: hidden;
    position: relative;
    float: left
}

#video-gallery .demo-gallery > ul > li a > img {
    -webkit-transition: -webkit-transform .15s ease 0s;
    -moz-transition: -moz-transform .15s ease 0s;
    -o-transition: -o-transform .15s ease 0s;
    transition: transform .15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%
}

#video-gallery .demo-gallery > ul > li a:hover > img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1)
}

#video-gallery .demo-gallery > ul > li a .demo-gallery-poster {
    background-color: rgba(0, 0, 0, .1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color .15s ease 0s;
    -o-transition: background-color .15s ease 0s;
    transition: background-color .15s ease 0s
}

#video-gallery .demo-gallery > ul > li a .demo-gallery-poster > img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity .3s ease 0s;
    -o-transition: opacity .3s ease 0s;
    transition: opacity .3s ease 0s
}

#video-gallery .demo-gallery > ul > li a:hover .demo-gallery-poster {
    background-color: rgba(0, 0, 0, .5)
}

#video-gallery .demo-gallery .justified-gallery > a > img {
    -webkit-transition: -webkit-transform .15s ease 0s;
    -moz-transition: -moz-transform .15s ease 0s;
    -o-transition: -o-transform .15s ease 0s;
    transition: transform .15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%
}

#video-gallery .demo-gallery .justified-gallery > a:hover > img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1)
}

#video-gallery .demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
    opacity: 1
}

#video-gallery .demo-gallery .justified-gallery > a .demo-gallery-poster {
    background-color: rgba(0, 0, 0, .1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color .15s ease 0s;
    -o-transition: background-color .15s ease 0s;
    transition: background-color .15s ease 0s
}

#video-gallery .demo-gallery .justified-gallery > a .demo-gallery-poster > img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity .3s ease 0s;
    -o-transition: opacity .3s ease 0s;
    transition: opacity .3s ease 0s
}

#video-gallery .demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
    background-color: rgba(0, 0, 0, .5)
}

#video-gallery .demo-gallery .video .demo-gallery-poster img {
    height: 48px;
    margin-left: -24px;
    margin-top: -24px;
    opacity: .8;
    width: 48px
}

#video-gallery .demo-gallery.dark > ul > li a {
    border: 3px solid #04070a
}

#press-section .events {
    background-color: transparent
}

#press-section .events .events-slider .details ul li i {
    color: #fff
}

#press-section .events .events-slider .owl-controls .owl-nav > div {
    background-color: #f13035;
    width: 30px;
    height: 50px
}

#press-section .events .section-title {
    margin-bottom: 80px
}

#press-section .events .events-slider .details {
    background-color: #f13035;
}

#press-section .events .events-slider .item img {
    -ms-filter: none;
    filter: none
}

#press-section-inner .breadcrumb {
    background-color: transparent;
    display: inline-block;
    overflow: hidden;
    margin-top: -5px;
    padding: 0;
    margin-bottom: 0
}

.approved-span,
.clarification-span,
.draft-span {
    padding: 5px;
    border-radius: 5px;
    font-weight: 700
}

#press-section-inner .breadcrumb li {
    position: relative
}

#press-section-inner .breadcrumb li a {
    font-size: 17px;
    font-weight: 700;
    color: #b3b3b3;
    display: inline-block;
    text-transform: uppercase;
    transition: all .3s ease
}

#press-section-inner .breadcrumb li a.current,
#press-section-inner .breadcrumb li a:hover,
.gallery .gallery-filters ul li .current,
.gallery .gallery-filters ul li a:hover {
    color: #f13035
}

.gallery .gallery-container .box > a:before {
    background-color: rgba(237, 50, 55, .7)
}

.paypal_btn_processing,
.ssl_btn_processing {
    display: none;
    opacity: .5
}

.approved-span {
    background-color: green;
    color: #fff
}

.approved-span i {
    color: #fff
}

.draft-span {
    background-color: #c3c313;
    color: #fff
}

.clarification-span {
    background-color: #ea2c31;
    color: #fff
}

.post-action a {
    color: #fff;
    font-weight: 700;
    font-size: 16px
}

.bio pre {
    border: none;
    background-color: transparent;
    font-family: Montserrat, "Noto+Sans";
    padding: 0;
    font-size: 15px
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word
}

#donation-registration-form {
    background-image: url(../colorib/bg-registration-form-6.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat
}

#donation-form {
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 0 10px 10px;
    border-left: solid 14px transparent;
    border-right: solid 14px transparent;
    border-bottom: solid 25px #f4f4f469;
    box-shadow: 0 0 30px #3335c
}

#donation-form h4 {
    font-size: 28px;
    padding: 10px 0;
    text-transform: capitalize;
    color: #fff
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: #ea2c31;
    width: 50px;
    height: 50px;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 15000
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

#return-to-top:hover {
    background: #49ba86
}

#return-to-top:hover i {
    color: #fff;
    top: 5px
}

.pay-mobile-bank-wrapper {
    padding-top: 70px
}

.payment-heading {
    margin: 0 0 40px;
    text-transform: uppercase;
    color: #00c292;
    transition: all .5s linear
}

.serviceBox {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0 15px 50px;
    margin-top: 15px;
    border: 1px solid transparent;
    position: relative;
    z-index: 1;
    transform: scale(.9);
    transition: all .3s linear
}

.serviceBox:hover {
    transform: scale(1);
    -webkit-transform: scale(1)
}

.pay-mobile-bank-wrapper .serviceBox {
    padding: 0 11px 50px
}

.serviceBox:before {
    background: linear-gradient(to bottom, #08949e, #00D9E8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0)
}

.serviceBox .service-icon {
    background: #2a969e;
    font-size: 60px;
    line-height: 110px;
    width: 100px;
    height: 110px;
    margin: -20px auto 20px;
    border-radius: 0 0 50px 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    position: relative;
    transition: all .3s
}

.serviceBox:hover .service-icon {
    text-shadow: 0 0 5px #000;
    font-size: 65px
}

.serviceBox .service-icon:after,
.serviceBox .service-icon:before {
    content: "";
    background: linear-gradient(-45deg, #28595f 49%, transparent 50%);
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: -20px
}

.serviceBox .service-icon:after {
    transform: rotateY(180deg);
    left: auto;
    right: -20px
}

.serviceBox .title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 10px;
    color: #fff
}

.serviceBox .description {
    font-size: 15px
}

.serviceBox.red:before {
    background: linear-gradient(to bottom, #E53947, #f85c6c)
}

.serviceBox.red .service-icon {
    background: #e0535f
}

.serviceBox.red .service-icon:after,
.serviceBox.red .service-icon:before {
    background: linear-gradient(-45deg, #752027 49%, transparent 50%)
}

.serviceBox.blue:before {
    background: linear-gradient(to bottom, #174B6D, #644B82)
}

.serviceBox.blue .service-icon {
    background: #156092
}

.serviceBox.blue .service-icon:after,
.serviceBox.blue .service-icon:before {
    background: linear-gradient(-45deg, #15374d 49%, transparent 50%)
}

.serviceBox.green:before {
    background: linear-gradient(to bottom, #12AB8F, #68BA58)
}

.serviceBox.green .service-icon {
    background: #0a977d
}

.serviceBox.green .service-icon:after,
.serviceBox.green .service-icon:before {
    background: linear-gradient(-45deg, #2b665b 49%, transparent 50%)
}

@media only screen and (max-width: 990px) {
    .serviceBox {
        margin: 15px 0 40px
    }
}

.account-info li {
    line-height: 24px !important;
    font-size: 16px;
    font-weight: 600
}

.account-info li i {
    font-size: 22px;
    color: #ddd
}

.account-info li span {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700
}

.account-info li span.highlight {
    background-color: #fff;
    padding: 5px;
    color: #ed3237;
    border-radius: 5px
}

.col-centered {
    display: inline-block;
    float: none;
    margin-right: -4px
}

.come-in {
    transform: translateY(150px);
    animation: come-in .8s ease forwards
}

.come-in:nth-child(odd) {
    animation-duration: .6s
}

.already-visible {
    transform: translateY(0);
    animation: none
}

@keyframes come-in {
    to {
        transform: translateY(0)
    }
}

#donate li > a::after {
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 85px;
    height: 3px;
    background: #00c292;
    transform: translateX(-50%) translateY(-50%)
}

#donate li > a:focus,
#donate li > a:hover {
    color: #ed3237
}

#donate li.active > a {
    color: #ed3237 !important
}

#donate li.active > a::after {
    background: #ed3237
}

#donate .amount input[type=button],
.custom_amount {
    width: 90%;
    padding-left: 10px;
}

#general_payment .col-md-6 {
    padding: 0
}

#donate .donate-client #account-tab {
    padding: 0;
    -webkit-box-shadow: 0 -2px 6px 1px rgba(0, 0, 0, .23);
    -moz-box-shadow: 0 -2px 6px 1px rgba(0, 0, 0, .23);
    box-shadow: 0 -2px 6px 1px rgba(0, 0, 0, .23)
}

#donate .video {
    -webkit-box-shadow: 0 -2px 6px 1px rgba(0, 0, 0, .23);
    -moz-box-shadow: 0 -2px 6px 1px rgba(0, 0, 0, .23);
    box-shadow: 0 -2px 6px 1px rgba(0, 0, 0, .23)
}

#donate .nav-tabs.nav-justified > li > a {
    border: none;
    color: #49ba86;
    font-weight: 600;
    font-size: 16px
}

/*Donor scholarship details style start*/
.profile-update-form {
    background-color: #fff;
    padding: 19px 20px;
    border: 1px solid #33cea845;
}

/*.profile-header img {
    width: 250px;
    height: 250px;
}*/



#donor-scholarship-list {
    background-color: #fff;
    padding: 20px 10px;
}

#donor-scholarship-list .video {
    position: relative;
}

#donor-scholarship-list .video a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-color: #f13035;
    font-size: 35px;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

#donor-scholarship-list .nav-tabs {
    border-bottom: 2px solid #49ba86;
}

#donor-scholarship-list .nav-tabs > li.active > a {
    cursor: default;
    background-color: #00c292;
    border: none;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
}

#donor-scholarship-list .nav-tabs > li > a {
    font-weight: bold;
    color: #15181d;
    word-spacing: 2px;
    text-transform: uppercase;
}

#donor-scholarship-list .tab-content {
    padding: 20px 5px;
}

#student-biography h3 {
    margin: 10px 0;
}

/*Home Latest News section start*/
* {
    box-sizing: border-box;
}

/*
.header-style-two {
    position: absolute;
}
*/

#news {
    position: fixed;
    margin-top: 18px;
    z-index: 100;
    width: 100%;
    left: 0;
}

.ln_wrapper {
    overflow: hidden;
    width: 100%;
    /*max-width: 600px;*/
    position: relative;
    /* border-bottom: 1px solid   #f1303554;*/
    margin: 50px auto 0;
}

.ln_left {
    width: 10%;
    min-width: 120px;
    float: left;
    background: #f13035;
    text-align: center;
}

.ln_left p {
    margin: 0;
    padding: 7px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.ln_left_arrow {
    width: 0;
    height: 0;
    border-top: 19.5px solid transparent;
    border-bottom: 19.5px solid transparent;
    border-left: 15px solid #f13035;
    position: absolute;
    left: 10%;
    z-index: 100;
    top: 0;

}

.ln_right {
    width: 90%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.31);
    position: absolute;
    right: 0;
    /*top: 7%;*/
}

.ln_right ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding-bottom: 10px;
}

.ln_right ul li {
    display: inline-block;
    overflow: hidden;
    padding: 5px 0;
    margin-top: 5px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    text-transform: inherit;
}

/* CSS FOR RESPONSIVE */
@media screen and (max-width: 650px) {
    .ln_left_arrow {
        display: none;
    }

    .ln_right {
        z-index: -100;
    }

    #news {
        margin-top: 13px;
    }
}

/*Home Latest News section end*/

/*Donor scholarship details style end*/

@media screen and (max-width: 448px) {
    .checkbox-inline + .checkbox-inline,
    .radio-inline + .radio-inline {
        margin-left: 0
    }
}

@media screen and (max-width: 992px) {
    .small-device-padding {
        padding: 20px 0
    }

    .profile-menu {
        padding-bottom: 15px
    }

    .profile-menu li {
        margin-left: 15px
    }
}

@media screen and (min-width: 992px) {
    .post-create .theme-btn,
    header #navbar li.sub-menu ul li a:hover {
        background-color: #49ba86
    }

    header #navbar > ul > li {
        margin-right: 6px
    }

    header #navbar li.sub-menu > ul > li,
    header #navbar li.sub-sub-menu > ul > li {
        border-bottom: 1px solid #fff
    }

    .main-menu-area hr {
        border: none;
        border-left: 1px solid #43c59a;
        height: 76vh;
        position: absolute;
        top: -20px;
        right: 14px
    }

    #post-wrapper {
        padding: 20px 30px
    }

    .profile-menu-wrapper {
        min-height: 100vh
    }

    .profile-menu {
        padding: 10px
    }

    #left-padding {
        padding-left: 0
    }

    .post-sidebar {
        min-height: 80vh
    }

    .post-create .theme-btn:hover {
        background-color: #00c292
    }
}

@media only screen and (max-width: 800px) {
    #no-more-tables table,
    #no-more-tables tbody,
    #no-more-tables td,
    #no-more-tables th,
    #no-more-tables thead,
    #no-more-tables tr {
        display: block
    }

    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px
    }

    #no-more-tables tr {
        border: 1px solid #ccc
    }

    #no-more-tables td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left
    }

    #no-more-tables td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: 700;
        content: attr(data-title)
    }
}

@media screen and (min-width: 768px) {
    .cta-2 .sing-up p {
        text-align: justify !important
    }
    #subscribe .subscribe-wrapper {
        position: absolute;
        left: 30%;
        top: 50%;
        transform: translateX(-30%) translateY(-50%);
    }
}

@media screen and (max-width: 768px) {
    #subscribe .subscribe-wrapper {
        padding: 30px 20px;
    }
}

.p-style {
    line-height: 1.8em;
    border: none;
    padding: 1px;
    background: inherit;
    font-family: default;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    color: #828791;
    word-break: keep-all;
    text-align: justify !important;

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* Start gallery css customize*/
.gallery .gallery-filters ul li a {
    font-size: 12px;
    font-weight: 700;
    color: #77767a;
    display: block;
    text-transform: uppercase;
}

.gallery .gallery-filters ul li {
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    position: relative;
}

.gallery .gallery-filters ul li:after {
    content: "/";
    color: #ED3237;
    font-size: 14px !important;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
}

/* Start gallery css customize*/

/*Video Play button/Img css overwrite*/
.about-us-st .right-col a {
    background-color: #ea2c31;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
@media screen and (min-width: 992px) {
    .flex-div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
}


/* // Video Play button css overwrite*/

/*Single project image gallery start*/
.gallery .gallery-line {
    border-top: 3px solid #eee;
    margin-bottom: 30px;
}

.gallery .gallery-title {
    font-size: 30px;
    color: #1f1f1f;
    margin: 0 0 0.72em;
    padding-bottom: 15px;
}

.gallery .gallery-title span {
    color: #ea2c37;
}

.gallery .demo-gallery > ul > li a > img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
    margin-bottom: 25px;
   /* -webkit-filter: opacity(.7);
    filter: opacity(.7);*/
}
.gallery .demo-gallery > ul > li a:hover > img {
    /*-webkit-filter: opacity(1);
    filter: opacity(1);*/
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}

.gallery .demo-gallery {
    padding-bottom: 50px;
}

#single-project-footer-donate .subscribe {
    width: 100%;
    text-align: center;
    padding: 50px 20px;
}

#single-project-footer-donate .subscribe h4 {
    margin-bottom: 20px;
}

#single-project-footer-donate .subscribe h4 span {
    color: #ed3237;
}

#single-project-footer-donate .subscribe a {
   /* float: right;*/
}
/*Single project image gallery end*/

#popular-campaign .details {
    min-height: 140px;
}

#popular-campaign .donation-box .dollar {
    padding-left: 0;
}

.section-title-short-brief {
    text-align: center;
    margin-bottom: 40px;
    font-size: 16px;
    color: #3d424b;
}

/*Home subscribe*/

#subscribe {
    padding: 0;
    height: 250px;
    position: relative;
}

#home-project .view-all {
    text-align: center;
    clear: both;
    padding-top: 80px;
}

#home-project .view-all a {
    border-color: #ed3237;
    color: #ed3237;
    font-weight: bold;
    text-transform: uppercase;
}

#home-project .view-all a:hover {
    background-color: #ed3237;
    color: #fff;
}

.dark-overlay {
    width: 100%;
    height: 100%;
    background-color: #ed3237b8;
}

#jon-us-cta #join-us {
    padding: 0;
}

.contact-page .contact-main-content .contact-info .icon {
    color: #ed3237;
}
.contact-page .contact-main-content .contact-form > .container > .row > .col {
    clear: both;
    border-top: 5px solid #ed3237;
}


